@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
}

.main {
    width: 90%;
    max-width: 1130px; /* Adjust as needed */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text {
    width: 50%; /* Adjust width as needed */
    padding: 0 20px; /* Add padding for spacing */
}

.about-text h2 {
    color: white;
    font-size: 45px; /* Adjust font size */
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 20px; 
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 span {
    color: #4070f4;
}

.about-text p {
    color: #eaecf3;
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 25px;
}

.about-text button {
    background-color: #4070f4;
    color: white;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 13px 30px;
    font-weight: bold;
    border-radius: 20px; /* Fixed typo */
    transition: .4s;
}

.about-text button:hover {
    background-color: transparent;
    border: 2px solid #4070f4; /* Fixed typo */
    cursor: pointer;
}
