@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7fb;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 400px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 20px;
    border-radius: 20px;
    height: 600px;
    overflow: auto; /* Add overflow:auto to enable scrolling if content exceeds container height */
}

.container .steps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    border: 6px solid #e0e0e0;
    background: #fff;
    transition: all 200ms ease;
}

.steps .circle.active {
    border-color: #4070f4;
    color: #4070f4;
}

.steps .progress-bar {
    position: absolute;
    border-radius: 40px;
    height: 8px;
    width: 99%;
    background: #e0e0e0;
    z-index: -1;
}

.progress-bar .indicator {
    position: absolute;
    border-radius: 40px;
    height: 100%;
    width: 0%; /* Start with 0% width */
    background: #4070f4;
    transition: all 600ms ease;
}

.container .navigation {
    display: flex;
    gap: 20px;
    margin-top: auto; /* Add margin for better spacing */
}

.navigation button {
    flex: 1;
    width: 100%;
    height: 40px;
    padding: 8px 25px;
    background: #4070f4;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    transition: all 400ms linear;
}

.navigation button:active {
    transform: scale(0.97);
}

.navigation button:disabled {
    cursor: not-allowed;
    background: #87a5f8;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
}

#Submit {
    display: none;
}

.inputbox {
    margin-bottom: 20px;
    width: 100%;
}

.inputbox label {
    display: block;
    margin-bottom: 5px; /* Add spacing between label and input */
}

.inputbox input[type="number"],
.inputbox input[type="text"],
.inputbox select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.inputbox input[type="number"]:focus,
.inputbox input[type="text"]:focus,
.inputbox select:focus {
    border-color: #4070f4; /* Change border color on focus */
    outline: none; /* Remove default outline */
    border-width: 2px;
}

.radio-title-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    height: 7rem;
    width: 7rem;
    margin: 0.5rem;
}

.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container .radio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid #4070f4;
    border-radius: 8px;
    transition: all 300ms ease;
}

/* Style the radio container */
.radio-container {
    display: inline-block;
    padding: 20px; /* Add padding */
    cursor: pointer; /* Set cursor style */
    transition: border-color 0.3s; /* Add transition for hover effect */
}

/* Change border color on hover */
.radio-container:hover {
    border-color: #4070f4;
}

/* Style the radio group */
.radio-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between the icon and the label */
}

/* Hide the default radio button */
.radio-group input[type="radio"] {
    display: none;
}

/* Style the label */
.radio-group label {
    cursor: pointer;
}

/* Adjust color for male icon */
.radio-group label[for="male"] ion-icon {
    font-size: 20px; /* Set the font size */
    color: black; /* Set the initial icon color to black */
    font-weight: bold; /* Make the icon bold */
}

/* Adjust color for female icon */
.radio-group label[for="female"] ion-icon {
    font-size: 20px; /* Set the font size */
    color: black; /* Set the initial icon color to black */
    font-weight: bold; /* Make the icon bold */
}

/* Style the selected radio button */
.radio-group input[type="radio"]:checked + label {
    background-color: #4070f4; /* Change background color for selected radio button */
    color: #fff; /* Change text color for selected radio button */
    border-radius: 20px; /* Adjust border radius for selected radio button */
    padding: 8px 15px; /* Adjust padding for selected radio button */
}

/* Set initial color for icons */
.radio-group label ion-icon {
    font-size: 28px; /* Set the font size of the icons */
    font-weight: bold; /* Make the icons bold */
}

/* Adjust size and style of the text */
.radio-group label {
    font-size: 18px; /* Set the font size of the text */
    font-weight: bold; /* Make the text bold */
}

/* Style the selected radio button */
.radio-group input[type="radio"]:checked + label ion-icon {
    color: #fff; /* Change icon color for selected radio button */
}
