/* style.css */

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('bg.jpg');
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg); /* Add your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 2rem;
    color: #fff;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 50rem;
    height: 36rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    
}

.container .contactInfo {
    padding-left: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #4070f4;
}



.contactForm h2 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border-radius: 20px ;
    
}

.contactForm .inputBox span {
    display: block;
}

.contactForm input[type="submit"] {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.contactForm {
    width: 60%; /* Adjust width as needed */
    padding: 40px; 
    background: transparent;
    padding-right: 2rem;
}

.contactForm h2 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 2rem;
}

.contactForm .inputBox {
    position: relative; 
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    display: block;
}

.contactForm input[type="submit"] {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
}
.contactForm input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
