/* Merged CSS from style.css and style3.css */

/* General Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* Add background image if needed */
}

.container {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
}

section {
    position: relative;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(55px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    padding: 2rem 3rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 20px;
}

.inputbox {
    position: relative;
    margin-bottom: 30px;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 40px; /* Adjust as needed */
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 5px;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group label {
    color: #fff;
    margin-right: 10px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    background-color: transparent;
    color: #fff;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation button {
    flex: 1;
    margin-right: 10px;
}

.navigation button:last-child {
    margin-right: 0;
}

.register p a {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    display: block;
    margin-top: 20px;
}

.register p a:hover {
    text-decoration: underline;
}

