<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Food Recommendation</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #f6f7fb;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 100%;
            max-width: 600px;
            background: rgba(255, 255, 255, 0.8);
            border: 2px solid rgba(255, 255, 255, 0.5);
            backdrop-filter: blur(15px);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 20px;
            height: auto;
            overflow: auto;
        }

        h1, h2, h3 {
            color: #4070f4;
            text-align: center;
        }

        ul {
            list-style: none;
            padding: 0;
            width: 100%;
        }

        li {
            background: #fff;
            margin: 5px 0;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            transition: background 0.3s, transform 0.3s;
        }

        li:hover {
            background: #f0f4ff;
            transform: scale(1.02);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Weekly Food Recommendation</h1>
        
        {% if daily_calories %}
            <h2>Daily Calorie Requirements: {{ daily_calories }} calories</h2>
        {% else %}
            <h2>Daily Calorie Requirements Not Available</h2>
        {% endif %}

        {% for day, foods in weekly_food.items() %}
            <h3>Day {{ day + 1 }}</h3>
            <ul>
                {% for food in foods %}
                    <li>{{ food }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</body>
</html>
